<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <title>Tech Community | <%=title%></title>
    <link rel="stylesheet" href="/style.css">

</head>