<nav>
    <div class="site-title">
        <a href="/"><h1>Tech Community</h1></a>
        <p>A community site</p>
    </div>
    <ul>
        <li><a href="/">Recourses</a></li>
        <li><a href="/blogs/create">Add Resource</a></>
    </ul>
</nav> 