.header{
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px black;
}

.header_left{
    display: flex;
    justify-content: space-evenly;
}

.header_left imag