.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px black;
}

.header_left {
  display: flex;
  justify-content: space-evenly;
}

.header_left img {
  height: 80px;
}

.header_input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 33px;
}

.header_input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header_center{
    display: flex;
    flex: 1;
    justify-content: center;
}

.header_option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header_option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header_option--active .MuiSvgIcon-root{
    color: #4AA8E0;
}

.header_option--active{
    border-bottom: 4px solid #4AA8E0;
}

.header_option 