messageSender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: #4AA8E0;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px black;
    width: 100%;
}

.messageSender_top{
    display: flex;
    border-bottom: ;
}