messageSender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: #4AA8E0;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px black;
    width: 100%;
}

.messageSender_top{
    display: flex;
    border-bottom: 1px solid white;
    padding: 15px;
}

.messageSender_top form{
    flex: 1;
    display: flex;
}

.messageSender_top form input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: rgb(223, 222, 222);
}