.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px black;
}

.post_top{
    display: flex;
    position: relative;
    align-items: center;
}