.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover{
    background-color: lightgray;
    border: 10px;
}

.sidebarRow p{
    margin-left: 20px;
    font-weight: 600;
}