<nav>
    <div class="site-title">
        <a href="/"><h1>Tech Community</h1></a>
        <p>A tech community site</p>
    </div>
    <ul>
        <li><a href="/">Faculty</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Add Faculty</a></li>
    </ul>
</nav> 