.login {
    display: grid;
    place-items: center;
    height: 90vh;
}

.login>div>img {
    object-fit: contain;
    height: 400px;
    max-width: 900px;
}

.login>div {
    display: flex;
    flex-direction: column;
}

.login>button {
    width: 300px;
    background-color: #004AAD;
    color: #eff2f5;
    font-weight: 800;
}

.login>button:hover {
    background-color: white;
    color: #004AAD;
}