.post{
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px black;
    display: grid;
    max-width: 70%;
}

.post_top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post_bottom{
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
}

.post_avatar{
    margin-right: 10px;
}

.post_topInfo h3{
    font-size: medium;
}

.post_topInfo p{
    font-size: small;
    color: grey;
}

.post_image{
    max-width: 100%;
    height: ;
}