<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

   <div class="about content">
       <h2>About Us</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, beatae nesciunt asperiores impedit sint esse quia suscipit fugit expedita iure accusantium praesentium ipsum numquam earum soluta, provident optio, iste doloribus!</p>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A consectetur aspernatur itaque ab delectus, explicabo totam sed, provident quasi labore soluta perspiciatis quidem placeat incidunt laudantium, atque vitae deleniti? Repudiandae?</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nostrum laborum, pariatur earum dignissimos consequatur? Perferendis, magnam voluptate commodi quo totam ad, sit harum, quas vero ut nostrum laboriosam alias.</p>
   </div>

   <%- include('./partials/footer.ejs') %>
</body>
</html>